<div class="col-md-12">
    <h1>Stories</h1>
    <h6 style="margin-bottom:30px;">What other says...</h6>

    <!-- pager -->
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li>
            <a (click)="setPage(1)" [ngClass]="{disabled:pager.currentPage === 1}" class="" >First</a>
        </li>
        <li>
            <a (click)="setPage(pager.currentPage - 1)"  [ngClass]="{disabled:pager.currentPage === 1}">Prev</a>
        </li>
        <li *ngFor="let page of pager.pages">
            <a (click)="setPage(page)"  [ngClass]="{active:pager.currentPage === page}" >{{page}}</a>
        </li>
        <li >
            <a (click)="setPage(pager.currentPage + 1)" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">Next</a>
        </li>
        <li>
            <a (click)="setPage(pager.totalPages)"  [ngClass]="{disabled:pager.currentPage === pager.totalPages}">Last</a>
        </li>
    </ul>

   <div class="ribbon" *ngFor="let story of pagedItems">
   <p>{{story.Data}}</p>
   <div style="font-style:italic;"><span style="font-weight:bold;"> Posted by : </span> {{story.UserId}} <span style="font-weight:bold;"> Created On : </span> {{story.CreatedOn}} </div>   </div>

     <!-- pager -->
     <ul *ngIf="pager.pages && pager.pages.length" class="pagination" style="margin-top:15px;">
        <li>
            <a (click)="setPage(1)" [ngClass]="{disabled:pager.currentPage === 1}" class="" >First</a>
        </li>
        <li>
            <a (click)="setPage(pager.currentPage - 1)"  [ngClass]="{disabled:pager.currentPage === 1}">Prev</a>
        </li>
        <li *ngFor="let page of pager.pages">
            <a (click)="setPage(page)"  [ngClass]="{active:pager.currentPage === page}" >{{page}}</a>
        </li>
        <li >
            <a (click)="setPage(pager.currentPage + 1)" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">Next</a>
        </li>
        <li>
            <a (click)="setPage(pager.totalPages)"  [ngClass]="{disabled:pager.currentPage === pager.totalPages}">Last</a>
        </li>
    </ul>
    <a [routerLink]="['/story']" class="btn btn-danger">Write your own story</a>
</div>