<div class="col-md-12">
    <h1>Stories</h1>
    <h6 style="margin-bottom:30px;">What other says...</h6>
    <app-pager [pagerMain]="pager" (pagingClicked)="onPageClicked($event)" ></app-pager>
   <div class="ribbon" *ngFor="let story of pagedItems">
   <p>{{story.Data}}</p>
   <div style="font-style:italic;"><span style="font-weight:bold;"> Posted by : </span> {{story.UserId}} <span style="font-weight:bold;"> Created On : </span> {{story.CreatedOn}} </div>   </div>
    <app-pager [pagerMain]="pager" (pagingClicked)="onPageClicked($event)" ></app-pager>
    <a [routerLink]="['/story']" class="btn btn-danger">Write your own story</a>
</div>