<div class="col-md-12">
    <h2 style="margin-bottom: 30px;">About Us</h2>
    <div class="ribbon">
       <div class="row" style="padding-left:10px !important;" >Kind Acts is a project to engage students into the everyday acts of kindness. Encouraging kindness in children has already proven to result in higher cooperation, concentration and confidence in children. If we want our children to live a happy life with healthy relationships, our schools and homes must provide them opportunity to experience kindness and giving.
       KEY is one of our initiative help our children to experience and learn <span class="boldStyle">Kindness</span>, <span class="boldStyle">Empathy</span> and <span class="boldStyle">Love</span>.</div>
       <div class="row" style="padding-left:10px !important;">Few of Our Activities in schools:</div>
       <div class="row" style="padding-left:10px !important;">1. Wall Of Kindness</div>
       <div class="row" style="padding-left:10px !important;">2. 21 Days Kindness Challenge</div>
       <div class="row" style="padding-left:10px !important;">3. The Kindness Wallet…(you are here)</div>
       <div class="row" style="padding-left:10px !important;">4. Embracing Happiness by Forgiveness</div>
       <div class="row" style="padding-left:10px !important;">KindActs.in is run purely by volunteers. We would love to grow kindness tribe on mother earth. If you like to be part of any of these initiative, feel free to connect with us.</div>
        </div> 
</div>
