<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=SQL7004,1433;Initial Catalog=DB_A2FA18_kindacts;User Id=DB_A2FA18_kindacts_admin;Password=rajaram@007" providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <!--<add key="email.from" value="postmaster@kindacts.in"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="email.password" value="JwbhFbFieDqmIgpIYP7wmg==" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="email.host" value="mail.kindacts.in" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="email.port" value="25" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="email.isSecure" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="baseUrl" value="http://kindacts.in" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>-->
    <add key="email.from" value="KindactMaster@gmail.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="email.password" value="6mB/4ib+sSVKckkSH/CEOQ==" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="email.host" value="smtp.gmail.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="email.port" value="587" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="email.isSecure" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="baseUrl" value="http://kindacts.in" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>